
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #151515;
}

#footer-main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #383838;
}

#footer-bottom {
	padding: 2rem 0 5rem;

	p {
		color: rgba($color: #fff, $alpha: 0.5);
		font-size: 0.875rem;
	}
}