
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
    position: relative;
    padding: 4rem 0;
}

#contact-form {
    ::placeholder {
        color: #adadad;
    }

    a, p {
        color: #adadad;
    }
}

.input-group-append {
    margin-left: -0.5rem;
}