
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.875rem; 
	position: relative;
	
	.title {
		line-height: 1.2;
		font-size: 2.1875rem;
	}

	p {
		color: #8e8e8e;
	}
}