
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/

/* Product
-----------------------------------------------------------------*/
.products {
	@include media-breakpoint-up(lg) {
		.slick-list {
			padding: 0 12rem !important;
		}
	
		.slick-track {
			margin-left: -13rem;
		}
	}
}

.product {
	position: relative;
	padding: 3rem;
	margin-bottom: 1.875rem;
	background-color: #f9f9f9;
	border-radius: 0.1875rem;

	.product-image {
		position: relative;

		img {
			min-width: 9rem;
			margin: auto;
		}
	}

	.product-details {
		z-index: 1;
	}

	.product-title {
		font-size: 1.25rem;
		font-weight: 600;
	}

	.product-price {
		font-family: $heading-font;
		font-weight: 600;
		font-size: 1.125rem;

		del {
			font-size: 0.8125rem;
			color: #7e7e7e;
			margin-right: 0.5rem;
		}
	}

	.product-info {
		color: #a9a9a9;
		font-size: 0.875rem;
	}

	.product-rating {
		line-height: 1;
		font-size: 0.875rem;
		color: #b3b2b0;

		i {
			color: #ff893f;
			font-size: 0.65rem;

			&.empty {
				color: rgba(#ff893f, 0.5);
			}
		}
	}

	.product-btns {
		@include transition(all 0.5s ease-in-out);
	}

	.add-to-cart, .add-to-wishlist {
		height: 3.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 1.25rem;
		color: #7f7f7f;
	}	

	&:hover {
		background-color: #f7f7f7;

		.product-btns {
			opacity: 1;
		}

		.add-to-cart {
			background-color: $theme-color;
			color: $white;
		}
	
		.add-to-wishlist {
			background-color: #c1765c;
			color: $white;
		}
	}
}

.onnew, .onsale {
	font-size: 0.75rem;
	font-weight: 500;
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-transform: uppercase;
	color: $theme-color;
	letter-spacing: 0.05rem;
	padding: 0.2rem 0.25rem;
	border-radius: 50%;
	color: $white;
}

.onnew {
	background-color: #242424;
}

.onsale {
	background-color: $theme-color;
}

.ads {
    position: relative;
    display: block;
	margin-bottom: 1.5rem;

    .ads-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ads-bg-img {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
			border-radius: 0.1875rem;;
        }
    }

    .ads-body {
        position: relative;
        z-index: 1;
    }

	&.ads1 {
		.ads-body {
			padding: 3rem 4rem;

			h2 {
				font-size: 3.6875rem;
			}
		}
	}

	&.ads2 {
		.ads-body {
			padding: 2rem 3rem 14.5rem;
		}
	}
}
